@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family-montserrat: "Montserrat", sans-serif;
    --font-size-lg: 6rem;
    --font-size-md: 4rem;
    --font-size-sm: 2rem;
    --color-background: #16161d;
    --color-button: #2c2c3a;
    --color-operator: #8fb339;
    --color-font: #fdfffc;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-font);
}

header{
    width: 100%;
    height: 5%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul input{
    width: 2rem;
    height: 2rem;
    display: flex;
}

.input_record_menu_toggle:checked ~ main .record {
    background-color: chocolate;
}

header nav ul label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul label img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .calculadora {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

main .calculadora .pantallas {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

main .calculadora .pantallas .pantalla_operacion {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--color-font);
    font-size: var(--font-size-lg);
    font-family: var(--font-family-montserrat);
}

main .calculadora .pantallas .pantalla_resultado {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--color-font);
    font-size: var(--font-size-lg);
    font-family: var(--font-family-montserrat);
}

main .calculadora .buttons {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

main .calculadora .buttons .button {
    background-color: var(--color-button);
    border: none;
    color: var(--color-font);
    font-size: var(--font-size-md);
    font-family: var(--font-family-montserrat);
}

main .calculadora .buttons .operator {
    background-color: var(--color-operator);
    border: none;
    color: var(--color-font);
    font-size: var(--font-size-md);
    font-family: var(--font-family-montserrat);
}

main .calculadora .buttons .CE {
    grid-area: 1 / 1 / 2 / 3;
}

main .calculadora .buttons .cero {
    grid-area: 5 / 1 / 6 / 3;
}


main .record {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}

.record .record_scroll {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.record .record_scroll::-webkit-scrollbar {
    width: 0.5rem;
  }

.record .record_scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.record .record_scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-font);
    border-radius: 2rem;
}

.record .record_scroll span {
    width: 100%;
    height: auto;
    display: block;
    color: var(--color-font);
    font-size: var(--font-size-md);
    font-family: var(--font-family-montserrat);
    word-break: break-word;
}

.record .record_delete {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.record .record_delete button {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
}

.record .record_delete button img {
    width: 2em;
    height: 2rem;
}




/*--------------*/
/* Mobile size */
@media (max-width: 430px) {

    header{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        
        padding: 1rem;
        box-sizing: border-box;
    }

    header nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav ul{
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    header nav ul button{
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
    }

    header nav ul button img{
        width: 2rem;
        height: 2rem;
    }


    main {
        width: 100%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .calculadora {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
    }

    main .calculadora .pantallas {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    main .calculadora .pantallas .pantalla_operacion {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        color: var(--color-font);
        font-size: var(--font-size-md);
        font-family: var(--font-family-montserrat);
    }

    main .calculadora .pantallas .pantalla_resultado {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        color: var(--color-font);
        font-size: var(--font-size-md);
        font-family: var(--font-family-montserrat);
    }

    main .calculadora .buttons {
        width: 100%;
        height: 75%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;
    }

    main .calculadora .buttons .button {
        background-color: var(--color-button);
        border: none;
        color: var(--color-font);
        font-size: var(--font-size-sm);
        font-family: var(--font-family-montserrat);
    }

    main .calculadora .buttons .operator {
        background-color: var(--color-operator);
        border: none;
        color: var(--color-font);
        font-size: var(--font-size-sm);
        font-family: var(--font-family-montserrat);
    }

    main .calculadora .buttons .CE {
        grid-area: 1 / 1 / 2 / 3;
    }

    main .calculadora .buttons .cero {
        grid-area: 5 / 1 / 6 / 3;
    }


    main .record {
        width: 100%;
        height: 95%;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        padding: 1rem;
        box-sizing: border-box;
    }

    .record .record_scroll {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .record .record_scroll::-webkit-scrollbar {
        width: 0.5rem;
      }
    
    .record .record_scroll::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    .record .record_scroll::-webkit-scrollbar-thumb {
        background-color: var(--color-font);
        border-radius: 2rem;
    }

    .record .record_scroll span {
        width: 100%;
        height: auto;
        display: block;
        color: var(--color-font);
        font-size: var(--font-size-sm);
        font-family: var(--font-family-montserrat);
        word-break: break-word;
    }

    .record .record_delete {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
    }

    .record .record_delete button {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        box-sizing: border-box;
    }

    .record .record_delete button img {
        width: 2em;
        height: 2rem;
    }
    
}